body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logo:hover {
  text-decoration: none;
  color: #4a5568;
}

.nav_link {
  position: relative;
}

.nav_link:hover {
  color: #4a5568;
}

.nav_link::after {
  content: '';
  width: 0;
  height: 3px;
  background: #dd6b20;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

.nav_link:hover::after {
  width: 100%;
}

.fa-solid {
  color: #dd6b20;;
}

.fa-book {
  font-size: 1.15rem;
}
