body {
  margin: 0;
  font-family: 'Poppins', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Poppins', sans-serif !important;
}

.logo {
  font-family: 'Poppins', sans-serif !important;
}

.logo:hover {
  text-decoration: none;
  color: #4a5568;
}

.nav_link {
  position: relative;
}

.nav_link:hover {
  color: #4a5568;
}

.nav_link::after {
  content: '';
  width: 0;
  height: 3px;
  background: #dd6b20;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

.nav_link:hover::after {
  width: 100%;
}

.fa-solid {
  color: #dd6b20;;
}

.fa-book {
  font-size: 1.15rem;
}

.ant-message .anticon {
  top: -0.2rem !important;
}

*:focus {
  outline: none;
}

.book-card:hover {
  transform: scale(1.05);
}

.book-card {
  transition: transform 0.5s;
}