#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

body {
  background: #fdfdfc !important;
  margin: 0;
  font-family: 'Poppins', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Poppins', sans-serif !important;
}

.logo {
  font-family: 'Poppins', sans-serif !important;
}

.logo:hover {
  text-decoration: none;
  color: #4a5568;
}

.nav_link {
  position: relative;
}

.nav_link:hover {
  color: #4a5568;
}

.nav_link::after {
  content: '';
  width: 0;
  height: 3px;
  background: #dd6b20;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

.nav_link:hover::after {
  width: 100%;
}

.fa-solid {
  color: #dd6b20;
}

.logo-book {
  font-size: 1.15rem;
}

.ant-message .anticon {
  top: -0.2rem !important;
}

*:focus {
  outline: none;
}

.book-card:hover {
  transform: scale(1.05);
}

.book-card {
  transition: transform 0.5s;
}

.chakra-slide {
width: 17rem !important;
}

.ant-btn-primary {
  background: #dd6b20 !important;
  border-color: #dd6b20 !important;
}

.ant-btn-primary:hover {
  background: #c05621 !important;
  border-color: #c05621 !important;
}

.ant-btn-default:hover {
  color: #dd6b20 !important;
  border-color: #dd6b20 !important;
}

.ant-comment-actions {
  /* margin-bottom: -1rem !important; */
  
}
.ant-comment-actions>li>span {
  font-size: 0.68rem !important;
}

.ant-comment-content-author-time {
  font-size: 0.65rem !important;
}

.ant-comment-content-author-name a{
  font-size: 0.8rem !important;
  color: #4a5568 !important
}

.ant-comment-content-author-name a:hover{
  color: #dd6b20 !important
}

.selectable {
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}

.float-button{
	position: fixed;
	width: 3.5rem;
	height: 3.5rem;
	bottom: 6.5rem;
	right: 3.25rem;
	background-color: #dd6b20;
  text-decoration: none;
	border-radius: 3.125rem;
	text-align: center;
  font-size: 1.125rem;
	box-shadow: 2px 2px 3px #999;
}

.float-button i {
  color: #FFF;
}

.float-button:hover {
  background-color: #c05621;
  color: #FFF;
}

.my-float{
	margin-top: 1.2rem !important;
}

/* Loading books CSS */
@keyframes rotate-loading {
  0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
  100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
}

@keyframes loading-text-opacity {
  0%  {opacity: 0}
  20% {opacity: 0}
  50% {opacity: 1}
  100%{opacity: 0}
}

.loading-container,
.loading {
  height: 100px;
  position: relative;
  width: 100px;
  border-radius: 100%;
}


.loading-container { margin: 40px auto }

.loading {
  border: 2px solid transparent;
  border-color: transparent #dd6b20 transparent #dd6b20;
  -moz-animation: rotate-loading 1.5s linear 0s infinite normal;
  -moz-transform-origin: 50% 50%;
  -o-animation: rotate-loading 1.5s linear 0s infinite normal;
  -o-transform-origin: 50% 50%;
  -webkit-animation: rotate-loading 1.5s linear 0s infinite normal;
  -webkit-transform-origin: 50% 50%;
  animation: rotate-loading 1.5s linear 0s infinite normal;
  transform-origin: 50% 50%;
}

#loading-text {
  -moz-animation: loading-text-opacity 2s linear 0s infinite normal;
  -o-animation: loading-text-opacity 2s linear 0s infinite normal;
  -webkit-animation: loading-text-opacity 2s linear 0s infinite normal;
  animation: loading-text-opacity 2s linear 0s infinite normal;
  color: #dd6b20;
  font-size: 10px;
  font-weight: bold;
  margin-top: 45px;
  opacity: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100px;
}

@media only screen and (max-width: 450px) {
  .float-button{
    bottom: 5.5rem;
    right: 1.25rem;
  }
}